<div class="blog-container">
    <div class="blog-title">
        <h1>{{title}}</h1>
        <p>Posted by {{user.name}} on {{format_date date_created}}<p>
    </div>
    <div class="blog-content">
        <p>{{content}}</p>
    </div>
</div>

<div class="add-comment-container">
    <div class="comment-header"></div>
    <form class="form login-form">
        <div class="form-group comment">
            <label for="new-comment">Comment<label>
            <textarea class="form-input scrollable-input" type="text" id="comment"></textarea>
        </div>
        <div class="form-group">
            <button class="btn btn-primary submit" type="submit">Submit</button>
        </div>
    </form>
</div>