{{#if blogs.length}}
    {{#each blog as |blogs|}}
        <div class="blog-title">
            <h1>{{title}}</h1>
            <p>{{format_date date_created}}<p>
        </div>
    {{/each}}
{{/if}}

<div class="dashboard-container">
    <button class="btn btn-primary create-post" type="submit">+ New Post</button>
</div>

<div class="post-form"> 
    <h2 class="login-title">Create New Post</h2>

    <form class="form login-form">
        <div class="form-group comment">
            <label for="blog-title">Title<label>
            <input class="form-input" type="text" id="blog-title"></textarea>
        </div>
        <div class="form-group comment">
            <label for="blog-title">Content<label>
            <textarea class="form-input scrollable-input" type="text" id="blog-content"></textarea>
        </div>
        <div class="form-group">
            <button class="btn btn-primary submit" type="submit">Create</button>
        </div>
    </form>
</div>