<div class="edit-form"> 
    <h2 class="login-title">Edit Post</h2>

    <form class="form login-form">
        <div class="form-group comment">
            <label for="blog-title">Title</label>
            <input class="form-input" type="text" id="blog-title" value="{{blog.title}}"></input>
        </div>
        <div class="form-group comment">
            <label for="blog-title">Content</label>
            <textarea class="form-input scrollable-input" type="text" id="blog-content">{{blog.content}}</textarea>
        </div>
        <div class="form-group">
            <button class="btn btn-primary submit post-update" data-id="{{blog.id}}" type="submit">Update Post</button>
        </div>
        <div class="form-group">
            <button class="btn btn-primary submit post-delete" data-id="{{blog.id}}" type="submit">Delete</button>
        </div>
    </form>
</div>

<script src="/js/dashboard.js"></script>
