{{#each blogs as |blog| }}
<div class="blog-container">
    <div class="blog-title">
        <h1>{{blog.title}}</h1>
        <h4>{{blog.user.name}} on {{blog.date_created}}</h4>
    </div>
    <div>
        <p>{{blog.content}}</p>
    </div>
</div>
{{/each}}
