<div class="login-container"> 
    <h2 class="login-title">Login</h2>

    <form class="form login-form">
        <div class="form-group username">
            <label for="username">Username</label>
            <input class="form-input" type="text" id="username-login" />
        </div>
        <div class="form-group password">
            <label for="password-login">Password</label>
            <input class="form-input" type="password" id="password-login" />
        </div>
        <div class="form-group">
            <button class="btn btn-primary submit" type="submit">Login!</button>
        </div>
    </form>
    <a href="signup" class="sign-up">Sign up instead</a>
</div>

<script src="./js/login.js"></script>