* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
}

/* Navigation bar and body */

nav {
    background-color: #24180f;
    padding: 35px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 0vw 35px;
    font-size: 25px;
}

.title {
    color: black;
    background-color:#D9EAD3;
    padding: 10px 30px;
    margin: 30px 0px 0px 30px;
    border-radius: 10px;
    font-size: 40px;
    width: fit-content;
    box-shadow: 7px 8px 0px 0px grey;
}

body {
    background-color: #D9EAD3;
}

/* Login */

.login-container {
    text-align: center;
    margin: 20px 40px;
    border: #24180f solid;
}

.login-title {
    background-color: #24180f;
    color: #D9EAD3;
    padding: 10px 0px 13px 20px;
    text-align: left;
    margin: 0px 0px 20px 0px;
}

.login-form {
    margin: 0px 0px 20px 0px;
    padding: 10px 20px 13px 20px;
}

.form-group {
    margin: 0px 0px 35px 0px;
}

input {
    width: 100%;
    height: 3vh;
    margin: 5px 0px;
    padding: 5px 10px;
    border: none;
    font-size: 20px;
    display: block;
}

label {
    font-size: 25px;
    font-weight: light;
}

.username, .password {
    text-align: left;
}

.submit {
    width: 100%;
    height: 5vh;
    font-size: 25px;
    border-radius: 5px;
    background-color: rgb(91, 86, 86);
    color: white;
}

/* Homepage */

.blog-container {
    margin: 20px 40px;
    border: #24180f solid;
}

.blog-title {
    background-color: #24180f;
    color: #D9EAD3;
    padding: 13px 25px;
}

.blog-title h1 {
    font-size: 25px;
    display: inline;
}

.blog-title p {
    font-size: 18px;
    text-align: bottom;
    float: right;
}

.blog-content {
    padding: 25px;
    font-size: 20px;
    line-height: 1.5;
}