* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
}

/* Navigation bar and body */

nav {
    background-color: #24180f;
    padding: 35px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 0vw 35px;
    font-size: 25px;
}

.title {
    color: black;
    background-color:#D9EAD3;
    padding: 10px 30px;
    margin: 30px 0px 0px 30px;
    border-radius: 10px;
    font-size: 40px;
    width: fit-content;
    box-shadow: 7px 8px 0px 0px grey;
}

body {
    background-color: #D9EAD3;
}

/* Login and sign up*/

.login-container, .signup-container , .post-form, .edit-form {
    /* text-align: center; */
    margin: 20px 40px;
    border: #24180f solid;
}

.login-title {
    background-color: #24180f;
    color: #D9EAD3;
    padding: 10px 0px 13px 20px;
    text-align: left;
    margin: 0px 0px 20px 0px;
}

.login-form {
    padding: 10px 20px 0px 20px;
}

.form-group {
    margin: 0px 0px 35px 0px;
}

input {
    width: 100%;
    height: 50px;
    margin: 5px 0px;
    padding: 0px;
    border: none;
    font-size: 25px;
    display: block;
    box-sizing: border-box;
}

label {
    font-size: 25px;
    font-weight: light;
}

.username, .password {
    text-align: left;
}

.submit {
    width: 100%;
    height: 5vh;
    font-size: 25px;
    border-radius: 15px;
    background-color: rgb(91, 86, 86);
    color: white;
}

.sign-up {
    margin: 0px 20px 35px 20px;
    font-size: 25px;
}

/* Homepage */

.blog-container {
    margin: 20px 40px;
    border: #24180f solid;
}

.blog-title {
    background-color: #24180f;
    color: #D9EAD3;
    padding: 13px 25px;
}

.blog-title h1 {
    font-size: 25px;
    display: inline;
}

.blog-title p {
    font-size: 18px;
    text-align: bottom;
    float: right;
}

.blog-content {
    padding: 25px;
    font-size: 20px;
    line-height: 1.5;
}

.sign-up {
    text-decoration: none;
}

/* Dashboard */

.create-post {
    background-color: #24180f;
    width: fit-content;
    height: 65px;
    font-size: 25px;
    border-radius: 15px;
    padding: 5px 25px;
    color: white;
}

.dashboard-container {
    position: fixed;
    justify-content: center;
    align-items: flex-end;
    bottom: 50px; /* Adjust this as needed */
    left: 45%
}

/* Individual blog page */

.add-comment-container {
    margin: 20px 40px;
    border: #24180f solid;
}

.comment-header {
    background-color: #24180f;
    height: 50px
}

.scrollable-input {
    height: 110px;
    overflow-y: auto;
    overflow-x: auto;
    width: 100%;
    margin: 5px 0px;
    padding: 8px;
    border: none;
    font-size: 20px;
    display: block;
    box-sizing: border-box;
}

.blog-post {
    text-decoration: none;
    color: #D9EAD3;
    font-size: 25px;
    font-weight: bold;
}

.post-form {
    display: none;
}

.single-blog {
    background-color: rgb(91, 86, 86);
    color: white;
    padding: 13px 25px;
    margin: 30px 50px;
    border-radius: 15px;
}

.single-blog h1 {
    font-size: 25px;
    display: inline;
}

.single-blog p  {
    font-size: 18px;
    text-align: bottom;
    float: right;
    margin-top: 3px;
}

.comment-container {
    margin: 20px 40px;
    display: none;
}

.single-comment {
    margin: 20px 0px;
    border: #24180f solid;
}

.comment-container p {
    margin: 15px 0px;
}